
body {

    background-image: url("Crypto3.jpg");
    background-size: cover;
    font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
  
    }
    body 
    .left{
        display: block;
        border: 2px solid blue;
        position: relative;
        right: 25px;
        top: 30px;
        left: -10px;
        width: 150px;
       

    }
     .left img{
          width: 40px;
          filter: invert(100%);
          line-height: 12px;
        
     }
     .left div {
        line-height: 19px;
        font-size: 12px;
        text-align: center;
        
    }
    .mid{
        display: inline-block;     
        border: 20px yellow;
        position: fixed;
        top: 5px;
       right: 400px ;
       width: 60%;
       bottom: 14px;
     
     
    }

    .right{
        display: block;
        position:fixed;
        right: 50px;
        top: 50px;
        border: 2px solid yellow;
    }
    .navbar {
        display: inline-block;
    }
    .navbar li{
        display: inline-block;
        font-size: 22px;
    }
    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 20px 23px;

    }
    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: red;

    }

    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 2px 12px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: red;
    }
    .container button {
        border: 2px solid white;
        margin: 106px 80px;
        padding: 75px;
        width: 33%;
        border-radius: 28px;
    }
    .form-group input {
        font-family: 'Baloo Bhai', cursive;
        text-align: center;
        display: block;
        width: 508px;
        padding: 1px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 25px;
        border-radius: 8px;
    }

    .container h1 {
        text-align: center;
    }

    .container button 
    {
        display: inline-block;
        width: 15%;
        right: 250px;
        top: 20px;

    } 